@model MyEventsProject.Models.ApplicationUser

@{
    ViewBag.Title = "Manage Your Events";
}

<h2>Manage Your Events</h2>

    <div>
        @Html.ActionLink("Create New", "Create")
    </div>

<table class="table">
    <tr>
        <th>
            Event Name
        </th>
        <th>
            Event Organizer
        </th>
        <th>
            City
        </th>
        <th>
            Category
        </th>
        <th>
            Date
        </th>
        <th>
            PictureURL
        </th>
        <th>
            Details
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.UserEvents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventOrganizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a href="@Url.Action("ImageDetails", new {id = item.Id})">
                    <img src="@item.PictureURL" height="220" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
            <td>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
            </td>
        </tr>
    }

</table>